<p>-</p>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-right:20px" colspan="2" align="right"><img src="images/heading.jpg" alt="" width="301" height="58" /><br /> <span style="color: #d5d7d6; font-size: small;"><%= customer.nama_kantor %> - <%= month %></span></td>
</tr>
<tr>
<td style="padding-bottom:10px" colspan="2">
<hr style="width: 650px;" size="1" />
</td>
</tr>
<tr valign="top">
<td style="padding-left: 20px; padding-right: 20px; width: 325px;" colspan="2" valign="top"><span style="font-size: x-large;">Message From</span><br /> <span style="font-size: medium;">Ray White Group</span><br />
<p>Salam <%= customer.NAMA %>. </p>
<p>Berikut ini adalah listing property pilihan dengan lokasi strategis dan harga yang bagus dari grup kami.</p>
</td>
</tr>
<tr>
<td style="padding-bottom:50px" colspan="2">
</tr>
<tr>
<br/>
<br/>
<% for(var i=0;i<listings.length;i++){ %>
<tr>
<td style="padding-left: 20px; padding-right: 20px; width: 325px;" colspan="2" valign="top"><span style="font-size: x-large;"><%=listings[i].JUDUL %></span><br /> <span style="font-size: medium;"><%= listings[i].nama_lokasi +","+ listings[i].nama_kota + " - " + listings[i].nama_propinsi %></span><br />
</tr>
<tr>
<td style="padding-bottom:30px" colspan="2">
</tr>
<tr>
<td style="padding-left: 20px; padding-right: 20px; width: 325px;" valign="top">
<img src="http://localhost:3000/images/1/1.jpg" alt="" width="290" height="174" /></td>
<td>
<p><%= "Alamat : " + listings[i].alamat_singkat %></p>
<p><%= "LT : " + listings[i].luas_tanah +", LB : "+ listings[i].luas_bangunan %></p>
<p><%= "Harga : Rp. " + listings[i].harga %></p>
<p>Contant Person:</p>
<p><%= listings[i].nama_marketing + "-" + listings[i].telepon_marketing %></p>
<p><%= listings[i].nama_kantor +"-" + listings[i].telepon_kantor %></p>

</td>
</tr>
<tr>
<td style="padding-bottom:10px" colspan="2">
<hr style="width: 650px;" size="1" />
</td>
</tr>
<%}%>
<tr valign="top">
<td style="width: 320px; padding-left: 20px; padding-right: 20px;" valign="top" colspan="2"><span style="font-size: x-large;">Berita Untuk Anda</span><br /> 
</td>
</tr>
<tr>
<td style="padding-bottom:50px" colspan="2">
</tr>
<tr>
<td style="padding-left: 20px; padding-right: 20px; width: 325px;" valign="top"><span style="font-size: medium;">Berita #1</span><br />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget commodo est. Mauris pretium lobortis rutrum. Nullam vulputate fermentum turpis, vitae faucibus tortor volutpat sit amet. Nullam nibh arcu, scelerisque eu scelerisque eget, viverra sit amet sem. Morbi tempor lectus vitae tellus sagittis pulvinar. Nam facilisis mauris a odio malesuada ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget commodo est. Mauris pretium lobortis rutrum. Nullam vulputate fermentum turpis, vitae faucibus tortor volutpat sit amet. Nullam nibh arcu, scelerisque eu scelerisque eget, viverra sit amet sem. Morbi tempor lectus vitae tellus sagittis pulvinar. Nam facilisis mauris a odio malesuada ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget commodo est. Mauris pretium lobortis rutrum. Nullam vulputate fermentum turpis, vitae faucibus tortor volutpat sit amet. Nullam nibh arcu, scelerisque eu scelerisque eget, viverra sit amet sem. Morbi tempor lectus vitae tellus sagittis pulvinar. Nam facilisis mauris a odio malesuada ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
</td>
<td style="width: 320px; padding-left: 20px; padding-right: 20px;" valign="top"><span style="font-size: medium;">Berita #2</span><br />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget commodo est. Mauris pretium lobortis rutrum. Nullam vulputate fermentum turpis, vitae faucibus tortor volutpat sit amet. Nullam nibh arcu, scelerisque eu scelerisque eget, viverra sit amet sem. Morbi tempor lectus vitae tellus sagittis pulvinar. Nam facilisis mauris a odio malesuada ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
<span style="font-size: medium;">Berita #3</span><br />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget commodo est. Mauris pretium lobortis rutrum. Nullam vulputate fermentum turpis, vitae faucibus tortor volutpat sit amet. Nullam nibh arcu, scelerisque eu scelerisque eget, viverra sit amet sem. Morbi tempor lectus vitae tellus sagittis pulvinar. Nam facilisis mauris a odio malesuada ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
</td>
</tr>
<tr>
<td style="padding-top:15px;padding-right:13px;padding-bottom:5px" colspan="2" align="right"><img src="images/logo.gif" alt="Ray White B." width="142" height="28" /></td>
</tr>
<tr bgcolor="#FFFB00">
<td colspan="2" height="33" bgcolor="#FFFB00"><img src="images/space.gif" alt="" width="1" height="33" /></td>
</tr>
<tr>
<td style="padding-left:20px" colspan="2"><span style="font-size: xx-small;"> To unsubscribe: <a href="$$unsubscribe$$">click here</a> </span></td>
</tr>
</tbody>
</table>